<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vacation Destinations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="landing-content">
            <div id="title-section" style="padding-right: 2vw;">
                <div id="title-text-body">
                    <h1 id="title">
                        Vacation Destinations WishList
                    </h1>
                    
                    <h5 id="title-tag">
                        Found exciting places to visit on your next vacation? Use the form below to add them to your wishlist.
                    </h5>
                </div>
                <% if (!authenticated) { %>
                    <!-- BOOSTRAP LOGIN FORM -->
                    <form
                        id="form-login"
                        method="post"
                        action="/api/login"
                        style="margin-right: 2vw;">
                        <div class="form-row align-items-center" style="display: flex; gap: 2vw;">
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="inlineFormInputName">Username</label>
                            <input type="text" class="form-control" id="inlineFormInputName" placeholder="Usernamee" name="username">
                        </div>
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="col-auto my-1">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                            <label class="form-check-label" for="autoSizingCheck2">
                                Remember me
                            </label>
                            </div>
                        </div>
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </div>
                    </form>
                    <form 
                    method="get"
                    action="/api/register"
                    >
                    <button type="submit">Register</button>
                    </form>
                    <!-- BOOSTRAP LOGIN FORM -->
                <% } else { %>
                    <div id="welcome-user" style="display: flex; width: 15vw; align-items: center; gap: 1vw;">
                        <h5>Hello, <%=username %></h5>
                        <form 
                        method="get"
                        action="/api/logout">
                            <button type="submit" id="btn-logout"> Log Out </button>
                        </form>
                    </div>
                <% } %>
            </div>
            <div id="main-section">
                <div id="form-body">
                    <div id="content">
                        <form name = "new-post"
                        id="new-post"
                        method="post"
                        action="/api/destination/create"
                        style="display: grid"
                        >
                            <label for="destination">Destination name:</label><br>
                            <input type="text" id="destination" name="destination" required><br>
                            
                            <label for="location">Location:</label><br>
                            <input type="text" id="location" name="location"><br>

                            <label for="description">Description:</label><br>
                            <input type="text" id="description" name="description"><br>

                            <button type="submit" id="btn-submit">Submit</button> 
                        </form>
                    </div>
                </div>
                <div id="display-main-content">
                    <div id="title">
                        <h2 style="width: 20vw;">My WishList</h2>
                    </div>
                    <div id="posts-content">
                        <% let post_id = 0 %>
                        <% destinations.forEach(function(wishlist) { %>
                            <div class="containers" data-db_id=<%= wishlist._id %> >
                                <div class="image-section">
                                    <!--JS loads images-->
                                </div>
                                <form name="edit-post"
                                 id="edit-post"
                                 class ="image-info"
                                 method="PUT"
                                 action="/api/destination/update">
                                    <div class="text-post-content">
                                        <h1 id="destination"><%= wishlist.destination %></h1>
                                        <button class="btn-edit btn-edit-destination fa fa-pencil"></button>
                                    </div>
                                    <div class="text-post-content">
                                        <h3 id="location"><%= wishlist.location %></h3>
                                        <button class="btn-edit btn-edit-location fa fa-pencil"></button>
                                    </div>
                                    <div class="text-post-content">
                                        <p id="description"><%= wishlist.description %></p>
                                        <button class="btn-edit btn-edit-description fa fa-pencil"></button>
                                    </div>
                                </form>
                                <div class="img-btns">
                                    <button class="btn-remove">Remove</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <script src="/main.js" type="module" async defer></script> 
    </body>
    <footer>
   
</html>